import os
from .settings_base import *

DEBUG = TEMPLATE_DEBUG = False

ALLOWED_HOSTS = ['{{ domain }}']

# Prefix is hard coded for now as the app can only be installed on whole domain
URL_PREFIX = ''
STATIC_ROOT = '{{ install_dir }}/static'
NOTIFICATION_EMAILS = ['{{ email }}']
DEFAULT_FROM_EMAIL = '{{ app }}@{{ domain }}'
SITE_URL = "https://{{ domain }}{{ path }}"
SECRET_KEY = '{{ secret }}'
ISP = {
    'NAME': '{{ isp_name }}',
    'SITE': '{{ isp_site }}',
    'EMAIL': '{{ email }}',
}
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

PROJECT_DIR = os.path.abspath(os.path.dirname(__file__))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_pwd }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    },
}

FEEDS = (('ffdn', 'http://www.ffdn.org/fr/rss.xml', 3),)

# Email settings
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST = '{{ domain }}'
EMAIL_HOST_USER = '{{ app }}'
EMAIL_HOST_PASSWORD = '{{ mail_pwd }}'

# Backend for sendfile.
# for more details see: https://django-sendfile2.readthedocs.io/en/latest/backends.html
SENDFILE_BACKEND = 'django_sendfile.backends.nginx'
SENDFILE_URL = '/protected'
